[Unit]
Description={{ container_name }}
After=network.target

[Service]
Type=simple
TimeoutStartSec={{ services_timeout_start_sec }}
ExecStartPre=-/usr/bin/podman rm {{ container_name }}
User={{ container_user }}

ExecStart=/usr/bin/podman run --name {{ container_name }} \
  {{ container_run_args }} \
  {{ container_image }}

ExecReload=-/usr/bin/podman stop {{ container_name }}
ExecReload=-/usr/bin/podman rm {{ container_name }}
ExecStop=-/usr/bin/podman stop {{ container_name }}
Restart=/usr/bin/podman restart {{ container_name }}
RestartSec={{ services_restart_sec }}

[Install]
WantedBy=multi-user.target
