# [submodule "roles/my-common-packages"]
# 	path = roles/my-common-packages
# 	url = git@github.com:marcus-grant/role-my-common-packages
[submodule "roles/docker-on-traefik"]
	path = roles/docker-on-traefik
	url = git@github.com:marcus-grant/role-traefik-on-docker
[submodule "roles/nextcloud-on-docker"]
	path = roles/nextcloud-on-docker
	url = git@github.com:marcus-grant/role-nextcloud-on-docker.git
[submodule "roles/s3fs-mount"]
	path = roles/s3fs-mount
	url = git@github.com:marcus-grant/s3fs-mount.git
