[http.middlewares.simpleAuth.basicAuth]
  users = ["{{ traefik_admin_htpasswd }}"]

[http.routers.api]
  rule = "Host(`{{traefik_api_url}}`)"
  entrypoints = ["websecure"]
  middlewares = ["simpleAuth"]
  service = "api@internal"
  [http.routers.api.tls]
    certResolver = "lets-encrypt"